#contact-google-map {
    width: 100%;
    height: 580px;
}

.contact-section {
    .title {
        margin-bottom: 50px;
        span,
        h2 {
            margin: 0;
        }
        span {
            font-family: 'Pacifico';
            font-size: 20px;
            color: #dd27b7;
        }
        h2 {
            color: #212121;
            font-size: 60px;
            line-height: 60px;
            font-weight: bold;
        }
    }
    .contact-form-content {
    	background:#F5F6FA;
    	padding: 80px 0;
    	padding-left: 80px;
    	padding-right: 80px;
    }
    .contact-info {
    	margin-left: -30px;
    	border: 2px solid #EBEDF4;
    	padding-top: 75px;
    	padding-bottom: 80px;
    	.single-contact-info {
    		+ .single-contact-info {
    			margin-top: 31.5px;
    		}
    		h4, p {margin: 0;}
    		h4 {color: #212121;font-size: 18px;font-weight: 500;margin-bottom: 10px;}
    		p {color: #757575;font-size: 16px;line-height: 28px;}
    	}
    	.social {
			a {width: 59px;height: 59px;border-radius: 50%;color: #fff;font-size: 18px;line-height: 59px;text-align: center;line-height: 59px;margin-top: 10px;
				+ a {margin-left: 10px;}
			}
			a.fa-twitter {background:#9c5ce8;}
			a.fa-facebook-f {background:#2884C6;}
			a.fa-pinterest {background:#212121;}
			a.fa-youtube {background:#dd27b7;}
		}
    }
    .contact-form {
    	input, textarea {
    		border: none;
    		outline: none;
    		width: 100%;
    		height: 68px;
    		border-radius: 35px;
    		background:#fff;
    		color: #757575;
    		font-size: 16px;
    		padding-left: 50px;
    		margin-bottom: 20px;
    		display: block;
    		@include placeholder () {
    			color: #757575;
    		}
    		&.error {
    			background:rgba(red,.5);
    		}
    	}
    	textarea {
    		height: 182px;
    		padding-top: 20px;
    	}
    	label.error {display: none !important;}
    }
}