.faq-content {
    padding-left: 100px;
    padding-top: 115px;
    .title {
    	padding-bottom: 30px;
        span,
        h2 {
            margin: 0;
        }
        span {
            font-family: 'Pacifico';
            font-size: 20px;
            color: #dd27b7;
        }
        h2 {
            color: #212121;
            font-size: 60px;
            line-height: 60px;
            font-weight: bold;
        }
    }
    .accrodion-grp {
        .accrodion {        	
            .accrodion-title {
            	border-bottom: 1px solid #ebedf4;
            	padding: 25px 0;
            	cursor: pointer;
                h4 {
                    margin: 0;
                    position: relative;
                    font-size: 18px;
                    color: #212121;
                    font-weight: 500;
                    &:before {
                        content: '\f067';
                        font-family: 'FontAwesome';
                        color: #2884C6;
                        font-size: 14px;
                        position: absolute;
                        top: 50%;
                        right: 0px;
                        transform: translateY(-50%);
                    }
                }
            }
            .accrodion-content {
            	padding-top: 20px;
            	padding-bottom: 15px;
                p {
                    margin: 0;
                    font-size: 16px;
                    line-height: 30px;
                    color: #757575;
                    + p {margin-top: 32px;}
                }
            }
            &.active {
                background: #fff;
                .accrodion-title {
                    h4:before {
                        content: '\f068';
                        color: #dd27b7;
                    }
                }
            }
        }
    }
}