.recent-projects {
    .single-recent-project {
        &:hover {
            .img-box {
                &:before {
                    opacity: 1;
                }
            }
            .text-box {
                h3,
                span {
                    color: #fff;
                }
                a.more {
                    background: #fff;
                    color: #dd27b7;
                }
                .inner {
                    &:before {
                        -webkit-transform: scaleY(1);
                        transform: scaleY(1);
                        -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, .37, .66);
                        transition-timing-function: cubic-bezier(0.52, 1.64, .37, .66);
                    }
                }
            }
        }
        .img-box {
            position: relative;
            overflow: hidden;
            > img {width: 100%;}
            &:before {
                content: '';
                width: 100%;
                height: 100%;
                background: rgba(#212121, .6);
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
                transition: all .4s ease;
            }
        }
        .text-box {
            position: relative;
            padding-left: 60px;
            .inner {
                background: #F5F6FA;
                padding: 32.5px 0;
                padding-left: 60px;
                display: block;
                &:before {
                    background: #dd27b7;
                }
            }
            h3,
            span {
                margin: 0;
            }
            span {
                color: #dd27b7;
                font-family: 'Pacifico';
                font-size: 16px;
            }
            h3 {
                font-size: 20px;
                color: #212121;
                font-weight: 500;
                transition: all .4s ease;
            }
            a.more {
                width: 42px;
                height: 42px;
                background: #dd27b7;
                color: #fff;
                font-size: 14px;
                line-height: 42px;
                border-radius: 50%;
                text-align: center;
                position: absolute;
                top: -21px;
                right: 30px;
                z-index: 9;
                transition: all .4s ease;
            }
        }
    }
}


.project-page {
    .single-recent-project {
        margin-bottom: 30px;
    }
    .pagination {
        margin-bottom: 0;
        margin-top: 50px;
        display: block;
    }
    .pagination>li+li {
        margin-left: 5px;
    }
    .pagination>li:last-child {
        margin-left: 0px;
    }
    .pagination>li>a,
    .pagination>li>span {
        padding: 13px 20px;
        float: none;
        display: inline-block;
        color: #212121;
    }
    .pagination>.active>a,
    .pagination>.active>a:focus,
    .pagination>.active>a:hover,
    .pagination>.active>span,
    .pagination>.active>span:focus,
    .pagination>.active>span:hover {
        background: #dd27b7;
        color: #fff;
        border-color: #dd27b7;
    }
}

.project-details-page {
    .project-details-content {
        h3, p {margin: 0;}
        h3 {margin: 0;color: #202020;font-size: 24px;font-weight: bold;}
        p {margin: 0;color: #747474;font-size: 16px;line-height: 30px;}
        .project-details-table {
            background:#F4F5F9;
            padding: 39px 0;
            padding-left: 50px;
            padding-right: 50px;           
            .single-project-details-table {
                + .single-project-details-table {
                    margin-top: 7px;
                }
                span.title {
                    color: #202020;
                    font-size: 16px;
                    font-weight: bold;
                    float: left;
                }
                span.name {
                    color: #747474;
                    font-size: 16px;
                    float: right;
                }
            }
        }

    }
    .img-box-wrapper {
        .row {
            + .row {margin-top: 30px;}
        }
    }
}