.team-section {
	padding-bottom: 150px;
	.owl-theme .owl-nav {margin-top: 0;position: absolute;bottom: -29.5px;right: 30px;}
	.owl-theme .owl-nav [class*=owl-] {
		width: 59px;
		height: 59px;
		color: #212121;
		background:#fff;
		font-size: 24px;
		line-height: 59px;
		border-radius: 50%;
		margin: 0;padding: 0;
		margin-left: 10px;
		transition: all .4s;
		&:last-child,
		&:hover {
			background:#dd27b7;
			color: #fff;
		}
	}
    .single-team-carousel {
        padding-left: 60px;
        position: relative;
        padding-top: 0px;
        .inner {
        	margin-top: 60px;
            background: #F5F6FA;
            .img-box {
                position: absolute;
                top: -60px;
                left: 0;
            }
            .team-content {
                padding-left: 470px;
                padding-top: 55px;
                padding-bottom: 80px;
                padding-right: 67px;
                width: 100%;
                .title {
                	margin-bottom: 42px;
                    span,
                    h3 {
                        margin: 0;
                    }
                    span {
                        font-family: 'Pacifico';
                        font-size: 20px;
                        color: #dd27b7;
                    }
                    h3 {
                        color: #212121;
                        font-size: 40px;
                        font-weight: bold;
                    }
                }
                p {
                	font-size: 16px;
                	line-height: 30px;
                	margin: 0;
                	color: #757575;
                	+ p {
                		margin-top: 30px;
                	}
                }
            }
        }
    }
}