.testi-carousel-wrapper {    
    position: relative;
    margin-bottom: 60px;
    .overlay {
    	background: #212121 url(../img/testi-bg-1-1.jpg) center center no-repeat fixed;
    	background-size: cover;        
    	position: absolute;
        top:60px;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 7;        
        &:before {
        	content: '';
	        position: absolute;
	        top:0;
	        left: 0;
	        width: 100%;
	        height: 100%;
	        background: #212121;
	        opacity: .7;
        }
    }
    .thm-container {
        position: relative;
        z-index: 9;
        .owl-carousel .owl-stage-outer {padding-top: 60px;}
        .owl-theme .owl-dots {margin-bottom: 0;width: 270px;margin-top: 20px;position: absolute;bottom: 25%;left: 0;}
        .owl-theme .owl-dots .owl-dot + .owl-dot {margin-left: 10px;}
        .owl-theme .owl-dots .owl-dot span {
        	width: 30px;
        	height: 2px;
        	background:rgba(#fff, .3);
        	border-radius: 0;
        	margin: 0;
        }
        .owl-theme .owl-nav {display: none;}
        .owl-theme .owl-dots .owl-dot.active span {
        	background:rgba(#fff, 1);
        }
        .single-testimonials {
        	position: relative;
        	.img-box {
        		width: 270px;
        		position: absolute;
        		top:-60px;
        		left: 0;
        		z-index: 99;
        	}
            .text-box {
            	padding-left: 328px;
            	padding-top: 108px;
            	padding-bottom: 50px;
                h3 {
                    margin: 0;
                    color: #fff;
                    font-weight: 500;
                    font-size: 30px;
                    line-height: 50px;
                }
                p {
                    margin: 0;
                    color: #9c5ce8;
                    font-size: 20px;
                    font-weight: 500;
                    margin-top: 30px;
                }
            }
        }
    }
}