.we-believe-carousel {
	position: relative;
	padding-right: 70px;
	padding-bottom: 120px;
	padding-top: 120px;
	&:before {
		content: '';
		position: absolute;
		top:0;
		right: -30px;
		background:#F5F6FA;
		width: 10000000px;
		height: 100%;
	}
	.owl-dots {margin-bottom: 0;width: 100%;margin-top: 0px;position: absolute;bottom: 8.5%;left: 0;text-align: center;z-index: 999;padding-right: 70px;}
    .owl-dots .owl-dot + .owl-dot {margin-left: 10px;}
    .owl-dots .owl-dot span {
    	width: 30px;
    	height: 2px;
    	background:rgba(#212121, .3);
    	border-radius: 0;
    	margin: 0;
    }
    .owl-nav {display: none;}
    .owl-dots .owl-dot.active span {
    	background:rgba(#212121, 1);
    }
	.single-we-believe {
		.text-box {
			padding-left: 25px;
			padding-right: 25px;
			padding-top: 43px;
			h3, p {margin: 0;}
			h3 {color: #212121;font-size: 30px;line-height: 36px;font-weight: bold;}
			p {color: #757575;font-size: 16px;line-height: 30px;margin-top: 32px;}
			a.thm-btn {margin-top: 50px;}
		}
	}
}